@model WebAppTilausDB.Models.Tilausrivit

@{
    ViewBag.Title = "Tilausrivit";
}

<br />
<h2>Tilausrivit</h2>

<div>
    <h4>Haluatko varmasti poistaa rivin #@Model.TilausriviID?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Määrä
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maara)
        </dd>

        <dt>
            A-hinta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ahinta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tilaukset.Toimitusosoite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tilaukset.Toimitusosoite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tuotteet.Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tuotteet.Nimi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Poista" class="btn btn-default" /> |
            @Html.ActionLink("Peruuta", "Index")
        </div>
    }
</div>
